@use 'sass:math';
@import './common/styles/nullStyle.scss';
@import './common/styles/functions';
@import './common/styles/variables';


body {
  background-color: $bgPrimary;
  font-size: rem(18);
  font-family: $fontFamily;
  color: $mainColor;
}


[class*='_containerInternal'] {
  max-width: rem(1420);
  margin: 0 auto;
}

@if ($responsiveType == 1) {
  [class*='_container'] {
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding > 0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  [class*='_container'] {
    margin: 0 auto;
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding > 0 and $maxWidthContainer > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}




